.container {
    max-width: 1200px;
    margin: 0 auto;
}

.slick-center {
    background-color: #3461FF;
    color: white;
    border-radius: 30px;
    transition-duration: .3s;
}

.slick-center p {
    color: white;
}